In [1]:
from pycaret.regression import *
import pandas as pd
import numpy as np

In [2]:
# df = pd.read_csv('data/train_cleaned.csv')
# print(df.isnull().any(axis=1).sum())

In [3]:
# df = pd.read_csv('data/train.csv')
df = pd.read_csv('data/train_cleaned.csv')


df['SalePrice'] = np.log1p(df['SalePrice'])

# df = pd.read_csv('data/train_cleaned.csv')

# categorical_columns = df.select_dtypes(include=['object', 'category']).columns
# numerical_columns = df.drop(columns=['SalePrice']).select_dtypes(include=['int64', 'float64']).columns
# numeric_features

In [4]:
df['MSSubClass'] = df['MSSubClass'].astype('str')
df['MSSubClass'] = df['MSSubClass'].astype('str')

In [5]:
fill_with_none_cols = ['Alley','MasVnrType','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1',
                     'BsmtFinType2','FireplaceQu','GarageType','GarageFinish','GarageQual',
                     'GarageCond','PoolQC','Fence','MiscFeature']
def fill_none(df) :
    df[fill_with_none_cols].fillna('None', inplace=True)
    
fill_none(df)

In [6]:
ordinal_col_info = {'ExterQual':['Po','Fa','TA','Gd','Ex'] ,
                    'ExterCond':['Po','Fa','TA','Gd','Ex'],
                    'BsmtQual':['None','Po','Fa','TA','Gd','Ex'],
                    'BsmtCond':['None','Po','Fa','TA','Gd','Ex'],
                    'BsmtExposure':['None','No','Mn','Av','Gd'],
                    'BsmtFinType1':['None','Unf','LwQ','Rec','BLQ','ALQ','GLQ'],
                    'BsmtFinType2':['None','Unf','LwQ','Rec','BLQ','ALQ','GLQ'],
                    'HeatingQC':['Po','Fa','TA','Gd','Ex'],
                    'Electrical':['Mix','FuseP','FuseF','FuseA','SBrkr'],
                    'KitchenQual':['Po','Fa','TA','Gd','Ex'],
                    'Functional':['Sal','Sev','Maj2','Maj1','Mod','Min2','Min1','Typ'],
                    'FireplaceQu':['None','Po','Fa','TA','Gd','Ex'],
                    'GarageFinish':['None','Unf','RFn','Fin'],
                    'GarageQual':['None','Po','Fa','TA','Gd','Ex'],
                    'GarageCond':['None','Po','Fa','TA','Gd','Ex'],
                    'PavedDrive':['N','P','Y'],
                    'PoolQC':['None','Fa','TA','Gd','Ex'],
                    'Fence':['None','MnWw','GdWo','MnPrv','GdPrv']}

ordinal_col = list(ordinal_col_info.keys())

In [7]:
s = setup(data = df,
           target = 'SalePrice',
           ignore_features = 'Id',
           numeric_imputation = 'knn',
        #    ordinal_features=ordinal_col_info,
           normalize = True,
           normalize_method='robust',
           transformation = True,
           transform_target = True,
           session_id = 11,
           fold= 10       
           )

# best = compare_models()
best = compare_models(include = ['lr', 'lasso', 'ridge', 'gbr', 'lightgbm', 'rf'], sort = 'R2')

# print(best)

In [8]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [9]:
# sp = setup(data = df,
#            target = 'SalePrice',
#            ignore_features = 'Id',
#            numeric_imputation = 'knn',
#            ordinal_features=ordinal_col_info,
#         #    categorical_features=list(categorical_columns),
#         #    numeric_features=list(numerical_columns),
#            normalize = True,
#            normalize_method='robust',
#            transformation = True,
#            transform_target = True,
#            session_id = 11
#            )

In [10]:
ridge = create_model('ridge')
tuned_ridge = tune_model(ridge)
evaluate_model(tuned_ridge)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…